@charset "UTF-8";

body{
    background-image: linear-gradient(to right,#BABDBF,#3F7373,#BF754B);
    font-size: 16px;
}

h1{
    color: #A64826;
    text-align: center;
    text-shadow: 8px 8px 15px #3F7373;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: #A64826;
    text-align: center;
    text-shadow: 8px 8px 15px #3F7373;
}

p{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline
}